@import "styles/mixins";
@import "styles/colors";

.login {
  width: 100%;
  //max-width: 375px;
  margin: auto auto;
  height: 100vh;
  //max-height: 812px;
  position: relative;
  background: $background-color;
  z-index: 1;
  overflow: hidden;
  padding: 352px 0 53px;

  & .back {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 44px;
    height: 44px;
    background: #2c326f;
    border-radius: 12px;
    @include display-flex;
    border: none;
    cursor: pointer;
    z-index: 100;

    & svg {
      color: white;
      width: 24px;
      height: 24px;
    }
  }

  @media screen and (min-width: 500px) {
    @include display-flex;
  }

  & .background {
    position: absolute;
    width: 100%;
    height: 553px;
    //left: -56px;
    top: 142px;
    background-image: linear-gradient(
        0deg,
        rgba(16, 18, 88, 0.2),
        rgba(16, 18, 88, 0.2)
      ),
      linear-gradient(0deg, rgba(18, 19, 89, 0.2), rgba(18, 19, 89, 0.2)),
      linear-gradient(0deg, rgba(18, 19, 89, 0.2), rgba(18, 19, 89, 0.2)),
      url("../../public/Login/loginGround2.png");
    background-size: cover;
    background-position: 55% 0;
    z-index: 2;
    background-repeat: no-repeat;

    @media screen and (min-width: 500px) {
      height: calc(100vh - 142px);
    }
  }

  & .background1 {
    position: absolute;
    width: 504px;
    height: 634px;
    left: -100px;
    top: 28px;
    background-image: linear-gradient(
        0deg,
        rgba(17, 19, 89, 0.59),
        rgba(17, 19, 89, 0.59)
      ),
      linear-gradient(0deg, rgba(17, 19, 89, 0.2), rgba(17, 19, 89, 0.2)),
      url("../../public/Login/loginGround3.png");
    background-size: cover;
    background-position: 55% 0;
    z-index: 2;
    background-repeat: no-repeat;
  }

  & .background2 {
    position: absolute;
    width: 482px;
    height: 712px;
    left: -56px;
    top: 146px;
    background-image: url("../../public/Login/loginGround.png");
    background-size: cover;
    background-position: 55% 0;
    z-index: 2;
    background-repeat: no-repeat;

    @media screen and (min-width: 500px) {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-size: cover;
      background-position: 0 0;
    }
  }

  & .background3 {
    position: absolute;
    width: 466px;
    height: 689px;
    left: -10px;
    top: 54px;
    background-image: url("../../public/Login/loginGround4.png");
    background-size: cover;
    //background-position: 55% 0;
    z-index: 2;
    background-repeat: no-repeat;
  }

  & .background4 {
    position: absolute;
    width: 667px;
    height: 686px;
    left: -140px;
    top: 126px;
    background-image: url("../../public/Login/loginGround5.png");
    background-size: cover;
    //background-position: 55% 0;
    z-index: 2;
    background-repeat: no-repeat;
  }

  & .gradient {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 81px);
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
      180deg,
      #0a1157 0%,
      rgba(10, 17, 87, 0.8) 27.68%,
      rgba(10, 17, 87, 0.5) 54.98%,
      rgba(10, 17, 87, 0.1) 80.76%,
      rgba(10, 17, 87, 0) 100%
    );
    transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: 2;
  }

  & .gradient2 {
    position: absolute;
    width: 100vw;
    height: 509px;
    left: 0;
    top: 0;
    background-image: linear-gradient(
      180deg,
      #0a1157 26.6%,
      rgba(10, 17, 87, 0.7) 39.2%,
      rgba(10, 17, 87, 0.43) 63.22%,
      rgba(10, 17, 87, 0.1) 92.04%,
      rgba(10, 17, 87, 0) 100%
    );
    z-index: 3;
  }

  & .ellipse1 {
    position: absolute;
    width: 410px;
    height: 391px;
    left: 99px;
    top: 118px;
    background: $hot_pink;
    opacity: 0.4;
    filter: blur(500px);
    z-index: 3;
  }

  & .ellipse2 {
    position: absolute;
    width: 256px;
    height: 244px;
    left: 149px;
    top: 203px;
    background: $hot_pink;
    opacity: 0.4;
    filter: blur(500px);
    z-index: 4;
  }

  & .red_spots1 {
    position: absolute;
    width: 354px;
    height: 504px;
    left: 0;
    top: 50px;
    background-image: url("../../public/red_spots.png");
    background-size: cover;
    //background-position: -20% 0;
    z-index: 5;
  }

  & .red_spots2 {
    position: absolute;
    width: 354px;
    height: 504px;
    left: -70px;
    top: -55px;
    background-image: url("../../public/red_spots.png");
    background-size: cover;
    transform: rotate(90deg);
    //background-position: -20% 0;
    z-index: 5;
  }

  & .red_spots3 {
    position: absolute;
    width: 418px;
    height: 889px;
    top: -273px;
    left: 0;
    background-image: url("../../public/red_spots.png");
    background-size: cover;
    //background-position: -20% 0;
    z-index: 5;
  }

  & .logo {
    position: absolute;
    width: 163px;
    height: 155px;
    left: calc(50% - 81.5px);
    top: 136px;
    background-image: url("../../public/logo.png");
    background-size: cover;
    z-index: 6;
  }

  & .input_block {
    margin-top: 7px;
    width: 100%;
    height: 91px;
    position: relative;
    @include display-flex(flex-end);
    flex-direction: column;

    & .error {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      text-align: right;
      padding-right: 9px;
      @include fonts(400, 12px, 17px, $hot_pink);
    }

    & .wrapper {
      width: 100%;
      height: 64px;
      background: #2c326f;
      border-radius: 16px;
      padding: 0 48px;
      @include display-flex;
      position: relative;

      & .icon {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 20px;
        left: 16px;
        cursor: pointer;
      }

      & .hide {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 20px;
        right: 16px;
        cursor: pointer;
      }

      & input {
        all: unset;
        width: 100%;
        @include fonts(400, 14px, 16px, #ffffff);
        border: none;
        background: transparent;
        cursor: pointer;

        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 1000px #2c326f inset;
          -webkit-text-fill-color: white !important;
        }

        &::placeholder {
          @include fonts(400, 14px, 16px, #a3b1d0);
        }
      }
    }

    & .error_input {
      border: 1px solid $hot_pink;
    }
  }

  & .login_registration {
    display: block;
    margin-top: 28px;
    width: 100%;
    text-align: center;
    @include fonts(400, 14px, 16px, $diamond_dust);
    cursor: pointer;

    & span {
      @include fonts(400, 14px, 16px, #ffffff);
    }
  }

  & .login_form {
    position: relative;
    z-index: 10;
    padding: 0 24px;

    & h2 {
      @include fonts(600, 28px, 33px, #ffffff);
    }

    & p {
      margin-top: 20px;
      padding-right: 20px;
      width: 100%;
      text-align: right;
      @include fonts(400, 12px, 14px, #ffffff);
      cursor: pointer;
    }

    & button {
      margin-top: 51px;
      width: 100%;
      height: 59px;
      background: #fe3f8e;
      border-radius: 16px;
      @include display-flex;
      border: none;
      @include fonts(400, 16px, 19px, #ffffff);
      cursor: pointer;
    }

    & .register {
      margin-top: 28px;
      width: 100%;
      text-align: center;
      @include fonts(400, 14px, 16px, #a3b1d0);

      & span {
        @include fonts(400, 14px, 16px, #ffffff);
      }
    }
    @media screen and (min-width: 500px) {
      width: 500px;
      & h2 {
        text-align: center;
      }
    }
  }

  & .check_mail {
    position: relative;
    z-index: 11;
    padding: 0 24px;

    & h2 {
      @include fonts(600, 28px, 33px, #ffffff);
    }

    & p {
      margin: 10px 0 52px;
      @include fonts(400, 14px, 20px, rgba(255, 255, 255, 0.85));
    }

    & .block_checkboxes {
      margin-top: 20px;
      @include display-flex(flex-start);
      margin-bottom: -40px;

      & .checkbox {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        background: transparent;
        border: 1px solid $diamond_dust;
        border-radius: 6px;
        margin-right: 12px;
        cursor: pointer;

        & svg {
          color: #313270;
        }
      }

      & .yellow {
        background: $midday_sun;
      }

      & .title {
        @include fonts(400, 14px, 20px, $diamond_dust);

        & span {
          @include fonts(600, 14px, 20px, #ffffff);
        }
      }
    }

    & button {
      margin-top: 85px;
      width: 100%;
      height: 59px;
      background: $hot_pink;
      border-radius: 16px;
      @include display-flex;
      border: none;
      @include fonts(400, 16px, 19px, #ffffff);
      cursor: pointer;
    }

    @media screen and (min-width: 500px) {
      width: 500px;
    }
  }

  & .verification_code {
    margin-top: -12px;
    width: 100%;
  }
}

.modal {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(26, 21, 86, 0.76);
  backdrop-filter: blur(2px);
  z-index: 2;
  padding: 0 24px;
  @include display-flex;

  & .info_block {
    position: relative;
    width: 100%;
    height: 191px;
    background: #2c326f;
    border-radius: 10px;
    padding: 25px 41px;

    & h2 {
      text-align: center;
      @include fonts(400, 16px, 19px, #ffffff);
    }

    & p {
      margin-top: 11px;
      text-align: center;
      @include fonts(400, 14px, 20px, #a5aece);
    }

    & a {
      margin: 25px auto 0;
      width: 223px;
      height: 46px;
      background: $hot_pink;
      border-radius: 14px;
      @include display-flex;
      @include fonts(400, 16px, 19px, #ffffff);
    }
  }
}
