@import "styles/mixins";
@import "styles/colors";

.profile {
  width: 100%;
  height: calc(100% - 139px);
  background: transparent;
  position: relative;
  z-index: 4;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 24px;

  & .wrapper_background {
    position: absolute;
    left: -24px;
    top: -12px;
    width: calc(100% + 24px);
    height: calc(100% + 12px);
    overflow: hidden;

    & .background1 {
      position: absolute;
      width: 100%;
      height: 670px;
      left: 0;
      top: 142px;
      background-image: url("../../public/Profile/profileBackgr1.png");
      background-size: cover;
      background-position: 100% 0;
      z-index: 2;
      background-repeat: no-repeat;
      mix-blend-mode: lighten;
    }

    & .background_edit {
      position: absolute;
      width: 100%;
      height: 670px;
      left: 0;
      top: 142px;
      background-image: url("../../public/Profile/editProfileBackgr.png");
      background-size: cover;
      background-position: 50% 0;
      z-index: 2;
      background-repeat: no-repeat;
    }

    & .background_privacy {
      position: absolute;
      width: 100%;
      height: 670px;
      left: 0;
      top: 142px;
      background-image: url("../../public/Profile/privacyProfileBackgr.png");
      background-size: cover;
      background-position: 50% 0;
      z-index: 2;
      mix-blend-mode: lighten;
      background-repeat: no-repeat;
    }

    & .background_language {
      position: absolute;
      width: 100%;
      height: 670px;
      left: 0;
      top: 142px;
      background-image: url("../../public/Profile/languageProfileBackgr.png");
      background-size: cover;
      background-position: 50% 0;
      z-index: 2;
      mix-blend-mode: lighten;
      background-repeat: no-repeat;
    }

    & .background_help {
      position: absolute;
      width: 100%;
      height: 670px;
      left: 0;
      top: 142px;
      background-image: url("../../public/Profile/helpProfileBackgr.png");
      background-size: cover;
      background-position: 50% 0;
      z-index: 2;
      background-repeat: no-repeat;
    }

    & .background_qr {
      position: absolute;
      width: 100%;
      height: 670px;
      left: 0;
      top: 142px;
      background-image: url("../../public/Profile/qrcodeProfileBackgr.png");
      background-size: cover;
      background-position: 50% 0;
      z-index: 2;
      background-repeat: no-repeat;
    }

    & .gradient {
      position: absolute;
      width: 100%;
      height: 731px;
      left: 0;
      top: 81px;
      background-image: linear-gradient(
        180deg,
        #0a1157 0%,
        rgba(10, 17, 87, 0.73) 27.68%,
        rgba(10, 17, 87, 0.94) 51.12%,
        #0a1157 80.76%,
        #0a1157 100%
      );
      transform: matrix(1, 0, 0, -1, 0, 0);
      z-index: 2;
    }

    //& .redSpots {
    //  position: absolute;
    //  width: 234px;
    //  height: 497px;
    //  left: 59px;
    //  top: -264px;
    //  background-image: url("../../public/Profile/redSpots.png");
    //  z-index: 3;
    //  transform: rotate(102.2deg);
    //}

    & .ellipse {
      position: absolute;
      width: 369px;
      height: 352px;
      left: 110px;
      top: 373px;
      background: $hot_pink;
      z-index: 4;
      opacity: 0.4;
      filter: blur(500px);
    }
  }

  .content {
    position: relative;
    z-index: 10;

    & .photo_block {
      margin-top: 26px;
      width: 100%;
      height: 80px;
      background: $light-background;
      border-radius: 16px;
      @include display-flex;
      position: relative;
      z-index: 4;

      & .photo {
        width: 80px;
        height: 100%;
        background: $diamond_dust;
        border-radius: 16px;
        overflow: hidden;
        @include display-flex;

        & .edit {
          position: absolute;
          width: 25px;
          height: 25px;
          background: #ffffff;
          box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
          border-radius: 7px;
          bottom: -4px;
          left: 65px;
          @include display-flex;
          cursor: pointer;

          & .file {
            display: none;
          }
        }
      }

      & .text {
        width: calc(100% - 80px);
        height: 100%;
        @include display-flex(space-between);
        padding: 14px 16px;

        & .left {
          @include display-flex(flex-start, flex-start);
          flex-direction: column;
          height: 100%;

          & h2 {
            @include fonts(400, 16px, 19px, white);
            letter-spacing: 0.457143px;
          }

          & .point {
            margin-top: 11px;
            @include display-flex(flex-start);

            & span {
              margin-left: 8px;
              @include fonts(400, 16px, 19px, white);
            }
          }
        }

        & .right {
          cursor: pointer;

          & svg {
            color: #a3b1d0;
            width: 20px;
            height: 20px;
          }

          &:hover {
            & svg {
              color: white;
            }
          }
        }
      }

      & .text_upload_img {
        width: calc(100% - 80px);
        height: 100%;
        @include display-flex;
        cursor: pointer;

        & .upload {
          width: 181px;
          height: 32px;
          border: 1px solid rgba(255, 255, 255, 0.36);
          border-radius: 6px;
          @include display-flex;
          @include fonts(400, 14px, 16px, rgba(255, 255, 255, 0.51));

          & svg {
            margin-right: 9px;
          }
        }
      }
    }

    & .personal_data {
      margin-top: 30px;
      @include display-flex(flex-start);
      flex-direction: column;
      width: 100%;
      gap: 21px;

      & .name {
        width: 100%;
        @include display-flex(space-between);

        & .label {
          width: 100px;
          @include fonts(600, 14px, 16px, $diamond_dust);
        }

        & .data {
          padding-left: 8px;
          @include fonts(600, 14px, 16px, white);
          width: calc(100% - 100px);
          border-bottom: 1px solid $light-background;
        }
      }
    }

    & .gender {
      width: 100%;
      @include display-flex(space-between);

      & .label {
        width: 100px;
        @include fonts(600, 14px, 16px, $diamond_dust);
      }

      & .value {
        width: calc(100% - 100px);
        @include display-flex(flex-start);
        gap: 10px;

        & .sex {
          height: 30px;
          padding: 0 12px 0 7px;
          border: 1px solid #dddddd;
          background: transparent;
          @include display-flex;
          border-radius: 7px;
          cursor: pointer;

          & .circle {
            width: 10px;
            height: 10px;
            border-radius: 5px;
            border: 1px solid #a3b1d0;
            margin-right: 7px;
            position: relative;
          }

          & span {
            @include fonts(500, 12px, 14px, $diamond_dust);
          }
        }

        & .active {
          background: $light-background;
          border: none;

          & .circle {
            border-color: white;

            &:before {
              content: "";
              position: absolute;
              width: 6px;
              height: 6px;
              border-radius: 3px;
              background: white;
              top: 1px;
              left: 1px;
            }
          }

          & span {
            color: white;
          }
        }
      }
    }

    & .setting {
      margin-top: 24px;
      width: 100%;

      & h2 {
        @include fonts(600, 16px, 20px, white);
      }

      & .setting_item {
        margin-top: 19px;
        width: 100%;
        @include display-flex(space-between);

        .left {
          @include display-flex(flex-start);

          & div {
            width: 40px;
            height: 40px;
            background: $light-background;
            border-radius: 12px;
            @include display-flex;
            margin-right: 12px;
          }

          & span {
            @include fonts(500, 14px, 21px, white);
            letter-spacing: 0.2px;
          }
        }

        & .right {
          cursor: pointer;

          & svg {
            color: #a3b1d0;
            width: 18px;
            height: 18px;
          }

          &:hover {
            & svg {
              color: white;
            }
          }
        }
      }
    }

    & .wrapper_gender {
      margin: 8px 0 30px;
    }

    & .edit_input_block {
      width: 100%;
      height: 103px;
      padding-bottom: 27px;
      position: relative;

      & h3 {
        @include fonts(600, 14px, 16px, $diamond_dust);
      }

      & input {
        margin-top: 14px;
        width: 100%;
        height: 46px;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.28);
        border-radius: 8px;
        padding: 0 36px 0 16px;
        @include display-flex;
        @include fonts(400, 14px, 16px, #ffffff);
        position: relative;

        &:focus {
          background: rgba(255, 255, 255, 0.15);
          border: 1px solid rgba(255, 255, 255, 0.28);
          outline: none;
        }
      }

      & svg {
        position: absolute;
        top: 43px;
        right: 16px;
        width: 20px;
        height: 20px;
        color: #ffffff;
        box-shadow: 0 18px 40px -12px rgba(107, 103, 210, 0.35);
      }

      & .focused {
        background: rgba(255, 255, 255, 0.15);
      }
    }

    & .edit_input_block:nth-child(3) {
      margin-top: 41px;
    }

    & .privacy_block {
      margin-top: 20px;
      @include display-flex(flex-start);
      flex-direction: column;
      gap: 20px;

      & .item {
        & h3 {
          @include fonts(500, 16px, 26px, white);
        }

        & p {
          margin-top: 7px;
          @include fonts(400, 14px, 20px, rgba(255, 255, 255, 0.8));
          opacity: 0.8;
        }
      }
    }

    & .input_block_search {
      margin-top: 26px;
      width: 100%;
      height: 56px;
      background: rgba(120, 129, 148, 0.28);
      border-radius: 12px;
      padding-left: 48px;
      @include display-flex;
      position: relative;

      & svg {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 16px;
        left: 24px;
        cursor: pointer;
        color: #c4d2df;
      }

      & input {
        all: unset;
        width: 100%;
        @include fonts(400, 16px, 24px, #c4d2df);
        letter-spacing: 0.2px;
        border: none;
        background: transparent;
        cursor: pointer;
        padding-left: 15px;

        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 1000px #2c326f inset;
          -webkit-text-fill-color: white !important;
        }

        &::placeholder {
          @include fonts(400, 16px, 24px, #c4d2df);
        }
      }
    }

    & .language_block {
      margin-top: 40px;
      @include display-flex();
      flex-direction: column;
      gap: 16px;

      & .item {
        width: 100%;
        height: 56px;
        @include display-flex(space-between);
        padding: 0 16px;
        background: #2c326f;
        border-radius: 12px;
        cursor: pointer;

        & .left {
          @include display-flex;
          gap: 16px;

          & svg {
            width: 26px;
            height: 20px;
          }

          & span {
            @include fonts(400, 16px, 24px, #ffffff);
          }
        }

        & .right {
          width: 24px;
          height: 24px;
          background: #f9e813;
          border: 1.5px solid #f9e813;
          border-radius: 8px;
          @include display-flex;

          & svg {
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    & .help_block {
      margin-top: 35px;

      & h3 {
        @include fonts(400, 16px, 23px, #ffffff);
        opacity: 0.8;
      }
      & .item_block {
        margin-top: 15px;
        @include display-flex();
        flex-direction: column;
        gap: 10px;

        & .item {
          width: 100%;
          height: auto;
          padding: 19px 22px 19px 63px;
          background: $light-background;
          border-radius: 16px;
          position: relative;

          & .icon {
            position: absolute;
            top: 16px;
            left: 16px;
            width: 26px;
            height: 26px;
            background: #101353;
            box-shadow: 0 4px 28px 10px rgba(0, 0, 0, 0.05);
            border-radius: 4px;
            transform: matrix(1, 0, 0, -1, 0, 0);
            @include display-flex;

            & svg {
              width: 10px;
              height: 10px;
            }
          }

          & h4 {
            @include fonts(400, 16px, 23px, #ffffff);
            opacity: 0.8;
          }

          & p {
            margin-top: 6px;
            @include fonts(400, 16px, 23px, #ffffff);
            opacity: 0.5;
          }
        }
      }
    }

    & .qr_code {
      margin-top: 70px;
      @include display-flex(flex-start);
      flex-direction: column;

      & h2 {
        @include fonts(500, 18px, 21px, white);
        letter-spacing: 0.0264em;
        position: relative;
        display: inline;
        padding-left: 16px;

        &:before {
          content: "";
          position: absolute;
          top: 6px;
          left: -7px;
          width: 9px;
          height: 9px;
          border-radius: 4.5px;
          border: 1px solid $hot_pink;
        }
      }

      & p {
        margin-top: 5px;
        width: 272px;
        @include fonts(400, 14px, 20px, rgba(255, 255, 255, 0.76));
        letter-spacing: 0.0264em;
        text-align: center;
      }

      & .main_img {
        margin-top: 21px;
        width: 257px;
        height: 257px;
        border-radius: 16px;
        overflow: hidden;
        background: white;
      }

      & h3 {
        margin-top: 30px;
        @include fonts(500, 14px, 20px, rgba(255, 255, 255, 0.64));
        letter-spacing: 0.0264em;
        text-transform: uppercase;
        text-align: center;
      }

      & .code {
        margin-top: 19px;
        width: 327px;
        height: 33px;
        background: #2c326f;
        border-radius: 12px;
        @include display-flex;
        @include fonts(400, 14px, 16px, rgba(255, 255, 255, 0.73));
        letter-spacing: 0.0264em;
      }
    }
  }
}
