{
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@([a-zA-z]*)$",
    "^@([a-zA-z]*)/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "(.*)(.data)(.*)$",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
