@import "styles/mixins";
@import "styles/colors";

.latest_blog {
  margin-top: 80px;
  height: auto;
  display: block;
  background: transparent;
  overflow: hidden;
  position: relative;
  z-index: 20;

  & .title{
    margin: 0 0 50px 100px ;
    width: 100%;

    & h2{
      @include fonts(500, 62px, 52px, #FFFFFF);
      text-transform: uppercase;
    }

    & p{
      margin-top: 22px;
      @include fonts(500, 24px, 28px, rgba(255, 255, 255, 0.6));
      letter-spacing: 1px;
    }
  }

  & .slider{
    margin: 50px 0 0 90px;
    height: 644px;
    position: relative;
    overflow: hidden;

    & .shift_block{
      position: absolute;
      @include display-flex(flex-start);
      gap: 39px;
      height: 100%;
      top: 0;

      & .card:last-child{
        margin-right: 29px;
      }

      & .card{
        width: 363px;
        height: 100%;
        cursor: pointer;

        & .photo_desktop{
          display: block;
          height: 530px;
          width: 100%;
          background: #2C326F;
          @include display-flex;

          & .empty_text{
            @include display-flex;
            @include fonts(500, 20px, 24px, $hot_pink);

            & svg{
              margin-left: 16px;
            }
          }

        }

        & .text{
          margin-top: 25px;
          height: 89px;
          display: block;
          position: relative;
          @include fonts(500, 24px, 31px, white);
          overflow: hidden;
        }
      }
    }
  }

  & .slider_control{
    margin: 102px 95px 0;
    @include display-flex(space-between);
    position: relative;
    z-index: 22;

    & .buttons{
      @include display-flex;
      width: 12%;

      & button{
        width: 85px;
        height: 85px;
        border: 1px solid $hot_pink;
        background: transparent;
        @include display-flex;
        cursor: pointer;

        & svg{
          color: #868297;
          width: 45px;
          height: 45px;

          &:hover{
            color: white;
          }
        }
      }
    }

    & .input_line{
      width: 81%;

      & .range {
        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        width: 100%;
        height: 1px;
        background: #868297;
        outline: none;
        -webkit-transition: .5s;
        transition: all .5s ease-in-out;
      }

      & .range:hover {
        background: white;
      }


      & .range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 254px;
        height: 12px;
        background: #2C326F;
        box-shadow: 0 0 13px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        transition: all .5s ease-in-out;
      }

      & .range::-moz-range-thumb {
        width: 254px;
        height: 12px;
        background: #2C326F;
        box-shadow: 0 0 13px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: 500px){

    & .title{
      margin: 0 29px ;
      width: calc(100% - 54px);

      & h2{
        @include fonts(500, 28px, 56px, #FFFFFF);
      }

      & p{
        margin-top: 0;
        @include fonts(500, 16px, 20px, rgba(255, 255, 255, 0.6));
        letter-spacing: 1px;
      }
    }

    & .slider{
      margin: 50px 0 0 29px;
      height: 553px;
      overflow-x: scroll;

      & .shift_block{
        gap: 15px;

        & .card{
          width: 321px;

          & .photo_desktop{
            height: 468px;

            & .empty_text{
              @include fonts(500, 16px, 20px, $hot_pink);

              & svg{
                margin-left: 16px;
              }
            }
          }

          & .text{
            height: auto;
            @include fonts(500, 16px, 20px, white);
          }
        }
      }
    }

    & .slider_control{
      display: none;
    }
  }
}
