@import "styles/mixins";
@import "styles/colors";

.navbar {
  position: fixed;
  height: 80px;
  width: 100%;
  background: #131547;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  @include display-flex(space-between);
  padding: 0 95px;
  z-index: 1000;

  & .mobil_menu {
    display: none;
  }

  & .links {
    @include display-flex(flex-start);

    & .link {
      position: relative;
      height: 32px;
      padding-bottom: 7px;
      transition: opacity 0.5s ease-out;

      & a {
        all: unset;
        @include fonts(500, 18px, 25px, #ffffff);
        letter-spacing: 0.04em;
        margin-right: 30px;
        text-transform: uppercase;
        cursor: pointer;
        padding-top: 4px;
        text-wrap: none;
      }

      &:hover > .line {
        //display: block;
        opacity: 1;
      }

      & .line {
        //display: none;
        opacity: 0;
        position: absolute;
        height: 3px;
        width: 37px;
        bottom: 0;
        left: 0;
        background: $hot_pink;
        transition: opacity 1s ease-out;

        &:after {
          content: "";
          position: absolute;
          width: 3px;
          height: 3px;
          background: $hot_pink;
          top: 0;
          right: -5px;
        }

        &:before {
          content: "";
          position: absolute;
          width: 3px;
          height: 3px;
          background: $hot_pink;
          top: 0;
          right: -9px;
        }

        &:before {
          right: -9px;
        }
      }
    }

    & .link:last-child {
      margin-right: 0;
    }
  }

  & .menu {
    display: none;
  }

  & .right {
    @include display-flex(flex-start);
    position: relative;

    & .buttons_block {
      @include display-flex(flex-start);
    }

    & a,
    button {
      //width: 154px;
      padding: 0 12px;
      height: 28px;
      background: $hot_pink;
      border-radius: 12px;
      border: none;
      @include display-flex;
      @include fonts(400, 16px, 16px, #ffffff);
      cursor: pointer;
      margin-right: 12px;
      text-transform: lowercase;

      & span {
        margin-left: 2px !important;
      }
    }

    & .user {
      @include fonts(400, 18px, 27px, #d1cfcf);
    }

    & .language {
      margin-left: 26px;
      @include display-flex;
      cursor: pointer;

      & span {
        display: block;
        width: 31px;
        text-align: right;
        @include fonts(400, 18px, 27px, #d1cfcf);
        margin-right: 6px;
      }

      & svg {
        color: #d1cfcf;
        margin-left: 5px;
      }
    }

    .modal_language {
      position: absolute;
      width: 350px;
      height: 145px;
      background: rgba(19, 21, 71, 0.85);
      top: 68px;
      right: -30px;
      border-radius: 8px;
      //overflow: hidden;

      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 11.5px solid transparent;
        border-right: 11.5px solid transparent;
        border-bottom: 10.5px solid rgba(19, 21, 71, 0.85);
        top: -11px;
        right: 32px;
        z-index: 1000;
      }

      & .items {
        width: 100%;
        height: 48px;
        padding: 0 20px;
        @include display-flex(flex-start);

        &:hover {
          background: rgba(80, 63, 122, 0.53);
        }

        & .label {
          margin-left: 12px;
          height: 100%;
          border-bottom: 1px solid #202052;
          @include display-flex(flex-start);
          @include fonts(400, 18px, 25px, rgba(255, 255, 255, 0.9));
          letter-spacing: -0.5px;
        }

        &:first-child {
          border-radius: 8px 8px 0 0;
        }

        &:last-child {
          border-radius: 0 0 8px 8px;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    position: fixed;
    background: transparent;
    box-shadow: none;
    //@include display-flex(flex-start);
    padding: 0 29px;

    & .mobil_menu {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      background: $background-color;
      z-index: 1001;
    }

    & .links {
      @include display-flex(flex-start);

      & .link {
        display: none;
      }
    }

    & button {
      //width: 129px;
      height: 41px;
      border-radius: 8px;
      @include fonts(500, 15px, 24px, #ffffff);
    }

    & .menu {
      display: block;
      cursor: pointer;
    }

    & .right {
      @include display-flex(flex-start);

      & .buttons_block {
        display: none;
      }

      & a,
      button {
        //width: 154px;
        padding: 0 16px;
        height: 32px;
        background: $hot_pink;
        border-radius: 12px;
        border: none;
        @include display-flex;
        @include fonts(400, 12px, 16px, #ffffff);
        cursor: pointer;
        margin-right: 12px;

        & span {
          margin-left: 2px !important;
        }
      }

      .modal_language {
        position: absolute;
        width: 317px;
        height: 145px;
        background: rgba(19, 21, 71, 0.85);
        top: 40px;
        right: -5px;
        border-radius: 8px;
        //overflow: hidden;

        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-left: 11.5px solid transparent;
          border-right: 11.5px solid transparent;
          border-bottom: 10.5px solid rgba(19, 21, 71, 0.85);
          top: -11px;
          right: 6px;
          z-index: 1000;
        }

        & .items {
          width: 100%;
          height: 48px;
          padding: 0 20px;
          @include display-flex(flex-start);

          &:hover {
            background: rgba(80, 63, 122, 0.53);
          }

          & .label {
            margin-left: 12px;
            height: 100%;
            border-bottom: 1px solid #202052;
            @include display-flex(flex-start);
            @include fonts(400, 18px, 25px, rgba(255, 255, 255, 0.9));
            letter-spacing: -0.5px;
          }

          &:first-child {
            border-radius: 8px 8px 0 0;
          }

          &:last-child {
            border-radius: 0 0 8px 8px;
          }
        }
      }
    }
  }
}
