@import "styles/mixins";
@import "styles/colors";

.place_partners {
  height: auto;
  display: block;
  background: $background-color;
  overflow: hidden;
  position: relative;
  z-index: 20;
  padding: 0 95px;

  & .smoke4{
    position: absolute;
    width: 1026px;
    height: 446px;
    top: 0;
    left: 795px;
    //background-size: 100%;
    z-index: 21;
    background-image: url("../../../public/smoke.png");
    mix-blend-mode: hard-light;
    opacity: .1;
    background-position: left top;
    background-repeat: no-repeat;
    transform: rotate(-173.75deg);
  }

  & .smoke5{
    position: absolute;
    width: 1026px;
    height: 446px;
    top: 465px;
    left: 542px;
    //background-size: 100%;
    z-index: 21;
    background-image: url("../../../public/smoke.png");
    mix-blend-mode: hard-light;
    opacity: .1;
    background-position: left top;
    background-repeat: no-repeat;
  }

  & .smoke6{
    position: absolute;
    width: 1026px;
    height: 446px;
    top: 932px;
    left: -239px;
    //background-size: 100%;
    z-index: 21;
    background-image: url("../../../public/smoke.png");
    mix-blend-mode: hard-light;
    opacity: .1;
    background-position: left top;
    background-repeat: no-repeat;
    transform: rotate(-178.54deg);
  }

  & .smoke7{
    position: absolute;
    width: 1026px;
    height: 446px;
    top: 1742px;
    left: -28px;
    background-size: 100%;
    z-index: 21;
    background-image: url("../../../public/smoke.png");
    mix-blend-mode: hard-light;
    opacity: .1;
    background-position: left top;
    background-repeat: no-repeat;
  }

  & .smoke8{
    position: absolute;
    width: 1026px;
    height: 446px;
    top: 1925px;
    left: 906px;
    background-size: 100%;
    z-index: 21;
    background-image: url("../../../public/smoke.png");
    mix-blend-mode: hard-light;
    opacity: .1;
    background-position: left top;
    background-repeat: no-repeat;
    transform: rotate(-178.54deg);
  }

  & .smoke9{
    position: absolute;
    width: 1026px;
    height: 446px;
    top: 2355px;
    left: 850px;
    background-size: 100%;
    z-index: 21;
    background-image: url("../../../public/smoke.png");
    mix-blend-mode: hard-light;
    opacity: .1;
    background-position: left top;
    background-repeat: no-repeat;
    transform: rotate(-178.54deg);
  }

  & .meet_team{
    position: absolute;
    width: 2924px;
    height: 223px;
    left: -408px;
    top: 172px;
    text-align: center;
    letter-spacing: 5.56105px;
    text-transform: uppercase;
    @include fonts(400, 222px, 222px, rgba(255, 255, 255, 0.05));
    z-index: 22;
  }

  & .grand_event{
    position: absolute;
    width: 2660px;
    height: 223px;
    left: -670px;
    top: 754px;
    text-align: center;
    letter-spacing: 5.56105px;
    text-transform: uppercase;
    @include fonts(400, 222px, 222px, rgba(255, 255, 255, 0.05));
    z-index: 23;
  }

  & .place{
    position: absolute;
    width: 1245px;
    height: 1094px;
    top: 91px;
    right: 0;
    background-size: 100%;
    z-index: 22;
    background-image:  linear-gradient(0deg, rgba(10, 17, 87, 0.4), rgba(10, 17, 87, 0.4)), url("../../../public/place2.png");
    background-position: left top;
    background-repeat: no-repeat;
    mix-blend-mode: lighten;
  }

  & .assassin{
    position: absolute;
    width: 1060px;
    height: 901px;
    top: 1176px;
    left: -33px;
    background-size: cover;
    z-index: 25;
    background-image: linear-gradient(180deg, rgba(11, 18, 88, 0.28) 0%, rgba(10, 17, 87, 0.71) 71.68%, #0A1157 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../../public/assassin.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    mix-blend-mode: lighten;
    //opacity: .99;

    & .shadow{
      position: absolute;
      width: 523px;
      height: 378px;
      top: -40px;
      left: 271px;
      background-image: url("../../../public/assassin_shadow.png");
      background-position: center;
      background-size: cover;
    }

  }

  & .content{
    max-width: 1410px;
    margin: 0 auto;
    padding: 293px 22px 201px 0;
    @include display-flex(flex-start, flex-start);
    flex-direction: column;
    position: relative;
    z-index: 25;

    & span{
      @include fonts(400, 17px, 17px, $accent);
      letter-spacing: 3px;
      text-transform: uppercase;
    }

    & h2{
      margin-top: 19px;
      width: 380px;
      @include fonts(400, 62px, 71px, $accent);
    }
    & h3{
      @include fonts(400, 62px, 71px, $midday_sun);
    }

    & p{
      margin-top: 23px;
      width: 441px;
      @include fonts(500, 20px, 33px,  rgba(255, 255, 255, 0.6));
    }

    //& .partners{
    //  margin-top: 159px;
    //  @include display-flex(center, flex-start);
    //  gap: 100px;
    //
    //
    //  & .left{
    //    padding-top: 77px;
    //    width: 642px;
    //    @include display-flex(flex-start, flex-start);
    //    flex-direction: column;
    //
    //    & span{
    //      @include fonts(400, 17px, 17px,  $accent);
    //      margin-left: 22px;
    //    }
    //
    //    & h2{
    //      margin-top: 27px;
    //      @include fonts(500, 76px, 69px,  white);
    //
    //      & span{
    //        @include fonts(500, 76px, 69px,  $midday_sun);
    //      }
    //    }
    //
    //    & p{
    //      margin: 12px 0 0 2px;
    //      @include fonts(400, 20px, 23px,  rgba(255, 255, 255, 0.6));
    //    }
    //
    //    & .touch{
    //      margin: 128px 0 0 96px;
    //      width: 247px;
    //      display: block;
    //
    //      & h4{
    //        @include fonts(500, 28px, 28px,  white);
    //        display: block;
    //        text-align: center;
    //      }
    //
    //      & h5{
    //        display: block;
    //        text-align: center;
    //        margin-top: 15px;
    //        @include fonts(500, 28px, 28px,  white);
    //      }
    //
    //      & button{
    //        margin-top: 37px;
    //        width: 100%;
    //        height: 56px;
    //        background: $hot_pink;
    //        border: 1px solid $hot_pink;
    //        border-radius: 8px;
    //        @include display-flex;
    //        @include fonts(500, 20px, 22px,  white);
    //      }
    //    }
    //  }
    //
    //  & .right{
    //    @include display-flex(flex-start, flex-start);
    //    flex-direction: column;
    //    width: 646px;
    //
    //    & h3{
    //      @include fonts(400, 24px, 28px, white);
    //      text-transform: uppercase;
    //      display: block;
    //    }
    //
    //    & .main_partner{
    //      margin-top: 21px;
    //      width: 646px;
    //      height: 145px;
    //      background: #232A69;
    //      border: 1px solid #FFFFFF;
    //      border-radius: 16px;
    //      @include display-flex;
    //      margin-bottom: 44px;
    //    }
    //
    //    & .main_partner_mobil{
    //      display: none;
    //    }
    //
    //    & .gold_partner{
    //      margin-top: 21px;
    //      width: 100%;
    //      @include display-flex;
    //      gap: 68px;
    //      margin-bottom: 38px;
    //
    //      & .item{
    //        display: block;
    //        width: 170px;
    //        height: 96px;
    //        border-radius: 16px 16px 0 0;
    //        background: #FFDF5C;
    //        @include display-flex;
    //      }
    //
    //      & .item_mobile{
    //        display: none;
    //      }
    //    }
    //
    //    & .all_partner{
    //      margin-top: 21px;
    //      @include display-flex;
    //      flex-wrap: wrap;
    //      column-gap: 68px;
    //      row-gap: 24px;
    //      width: 100%;
    //      height: 336px;
    //
    //      & .item{
    //        @include display-flex;
    //        width: 170px;
    //        height: 96px;
    //        background: #232A69;
    //        border-radius: 16px;
    //      }
    //
    //      & .item_mobile{
    //        display: none;
    //      }
    //    }
    //  }
    //}

    & .enjoy{
      margin-top: 449px;
      @include display-flex(flex-start, center );
      flex-direction: column;
      width: 100%;

      & h2{
        @include fonts(500, 76px, 101px, white);
        display: block;
        width: 830px;
        text-align: center;
        font-family: Futura, sans-serif;

        & span{
          @include fonts(500, 76px, 101px, $midday_sun);
          text-transform: uppercase;
        }
      }

      & p{
        margin-top: 29px;
        width: 678px;
        @include fonts(500, 28px, 47px, rgba(255, 255, 255, 0.6));
        text-align: center;
      }

      & a{
        margin-top: 24px;
        width: 280px;
        height: 65px;
        background: $hot_pink;
        border-radius: 8px;
        border: none;
        @include display-flex;
        @include fonts(500, 23px, 26px, white);
        letter-spacing: 0.42px;
        transition: all .5s ease-in-out;

        &:hover{
          transform: scale(1.1);
        }
      }


    }
  }

  @media screen and (max-width: 500px){
    height: auto;
    display: block;
    background: $background-color;
    overflow: hidden;
    position: relative;
    z-index: 20;
    padding: 0 29px;

    & .smoke4{
      position: absolute;
      width: 1026px;
      height: 446px;
      top: 42px;
      left: -99px;
      //background-size: 100%;
      z-index: 21;
      background-image: url("../../../public/smoke.png");
      mix-blend-mode: hard-light;
      opacity: .1;
      background-position: left top;
      background-repeat: no-repeat;
      transform: rotate(-173.75deg);
    }

    & .smoke5{
      position: absolute;
      width: 1026px;
      height: 446px;
      top: 1574px;
      left: -375px;
      //background-size: 100%;
      z-index: 21;
      background-image: url("../../../public/smoke.png");
      mix-blend-mode: hard-light;
      opacity: .1;
      background-position: left top;
      background-repeat: no-repeat;
      transform: rotate(141.08deg);
    }

    & .smoke6{
      position: absolute;
      width: 1026px;
      height: 446px;
      top: 932px;
      left: -239px;
      //background-size: 100%;
      z-index: 21;
      background-image: url("../../../public/smoke.png");
      mix-blend-mode: hard-light;
      opacity: .1;
      background-position: left top;
      background-repeat: no-repeat;
      transform: rotate(-178.54deg);
    }

    & .smoke7{
      position: absolute;
      width: 1026px;
      height: 446px;
      top: 1742px;
      left: -28px;
      background-size: 100%;
      z-index: 21;
      background-image: url("../../../public/smoke.png");
      mix-blend-mode: hard-light;
      opacity: .1;
      background-position: left top;
      background-repeat: no-repeat;
    }

    & .smoke8{
      position: absolute;
      width: 1026px;
      height: 446px;
      top: 1925px;
      left: 906px;
      background-size: 100%;
      z-index: 21;
      background-image: url("../../../public/smoke.png");
      mix-blend-mode: hard-light;
      opacity: .1;
      background-position: left top;
      background-repeat: no-repeat;
      transform: rotate(-178.54deg);
    }

    & .smoke9{
      position: absolute;
      width: 1026px;
      height: 446px;
      top: 2355px;
      left: 850px;
      background-size: 100%;
      z-index: 21;
      background-image: url("../../../public/smoke.png");
      mix-blend-mode: hard-light;
      opacity: .1;
      background-position: left top;
      background-repeat: no-repeat;
      transform: rotate(-178.54deg);
    }

    & .meet_team{
      display: none;
    }

    & .grand_event{
      display: none;
    }

    & .place{
      position: absolute;
      width: 970px;
      height: 852px;
      top: 678px;
      right: auto;
      left: -207px;
      background-size: 100%;
      z-index: 22;
      background-image:linear-gradient(0deg, rgba(10, 17, 87, 0.4), rgba(10, 17, 87, 0.4)), url("../../../public/place2.png");
      background-position: left top;
      background-repeat: no-repeat;
      mix-blend-mode: lighten;
    }

    & .assassin{
      position: absolute;
      width: 1060px;
      height: 1081px;
      top: 1549px;
      left: -322px;
      background-size: cover;
      z-index: 24;
      background-image: linear-gradient(180deg, rgba(11, 18, 88, 0.28) 0%, rgba(10, 17, 87, 0.71) 71.68%, #0A1157 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../../public/assassin.png");
      background-position: center;
      background-repeat: no-repeat;
      mix-blend-mode: lighten;
      opacity: .99;

      & .shadow{
        position: absolute;
        width: 523px;
        height: 378px;
        top: -40px;
        left: 271px;
        background-image: url("../../../public/assassin_shadow.png");
        background-position: center;
        background-size: cover;
      }

    }

    & .content{
      width: 100%;
      margin: 0 auto;
      padding: 111px 28px 143px 28px;
      @include display-flex(flex-start, flex-start);
      flex-direction: column;

      & span{
        @include fonts(400, 12px, 17px, $accent);
      }

      & h2{
        margin-top: 5px;
        display: block;
        width: 155px;
        @include fonts(400, 32px, 43px, $accent);
        letter-spacing: 2.39628px;
        text-transform: uppercase;

        & span{
          @include fonts(400, 32px, 43px, $midday_sun);
        }
      }

      & p{
        margin-top: 23px;
        width: 100%;
        @include fonts(500, 16px, 33px,  rgba(255, 255, 255, 0.6));
      }

      & .partners{
        width: 100%;
        margin-top: 779px;
        @include display-flex(center, flex-start);
        flex-direction: column;
        gap: 142px;

        & .left{
          padding-top: 0;
          width: 100%;
          @include display-flex(flex-start, flex-start);
          flex-direction: column;

          & span{
            @include fonts(400, 12px, 17px,  $accent);
            margin-left: 3px;
          }

          & h2{
            margin-top: -8px;
            @include fonts(500, 32px, 69px,  white);

            & span{
              @include fonts(500, 32px, 69px,  $midday_sun);
            }
          }

          & p{
            margin: -11px 0 0 3px;
            @include fonts(400, 16px, 23px,  rgba(255, 255, 255, 0.6));
          }

          & .touch{
            margin: 207px 0 0 0;
            width: 100%;
            display: block;

            & h4{
              @include fonts(500, 24px, 28px,  white);
              display: block;
              text-align: center;
            }

            & h5{
              display: block;
              text-align: center;
              margin-top: 6px;
              @include fonts(500, 24px, 23px,  white);
            }

            & button{
              margin: 30px auto 0;
              width: 129px;
              height: 41px;
              background: $hot_pink;
              border: 1px solid $hot_pink;
              border-radius: 8px;
              @include display-flex;
              @include fonts(500, 15px, 26px,  white);
              letter-spacing: 0.42px;
            }
          }
        }

        & .right{
          @include display-flex(flex-start, flex-start);
          flex-direction: column;
          width: 100%;

          & h3{
            @include fonts(500, 20px, 28px, white);
            text-transform: uppercase;
            display: block;
          }

          & .main_partner{
            display: none;
          }

          & .main_partner_mobil{
            margin-top: 14px;
            width: 100%;
            height: 73px;
            background: #232A69;
            border: 1px solid #FFFFFF;
            border-radius: 16px;
            @include display-flex;
            margin-bottom: 44px;
          }

          & .gold_partner{
            margin-top: 14px;
            width: 100%;
            @include display-flex;
            gap: 27px;
            margin-bottom: 35px;

            & .item{
              display: none;
            }

            & .item_mobile{
              display: block;
              width: 88px;
              height: 50px;
              border-radius: 16px 16px 0 0;
              background: #FFDF5C;
              @include display-flex;
            }
          }

          & .all_partner{
            margin-top: 14px;
            @include display-flex;
            flex-wrap: wrap;
            column-gap: 31px;
            row-gap: 24px;
            width: 100%;
            height: auto;

            & .item{
              display: none;
            }

            & .item_mobile{
              @include display-flex;
              width: 88px;
              height: 50px;
              background: #232A69;
              border-radius: 16px;
            }
          }
        }
      }

      & .enjoy{
        margin-top: 1118px;
        @include display-flex(flex-start, center );
        flex-direction: column;
        width: 100%;

        & h2{
          @include fonts(500, 32px, 42px, white);
          width: 100%;
          text-align: center;

          & span{
            @include fonts(500, 32px, 42px, $midday_sun);
          }
        }

        & p{
          margin-top: 29px;
          width: 100%;
          @include fonts(500, 16px, 23px, rgba(255, 255, 255, 0.6));
          text-align: center;
        }

        & a{
          margin-top: 36px;
          width: 129px;
          height: 41px;
          background: $hot_pink;
          border-radius: 8px;
          border: none;
          @include display-flex;
          @include fonts(500, 15px, 26px, white);
          letter-spacing: 0.42px;
        }
      }
    }
  }
}
