@import "styles/mixins";
@import "styles/colors";

.speakers {
  height: auto;
  display: block;
  //background: $background-color;
  overflow: hidden;
  position: relative;
  z-index: 30;
  padding: 0 95px;

  & .red_spots2 {
    position: absolute;
    width: 1606px;
    height: 1741px;
    top: 733px;
    left: 0;
    background-size: 100%;
    z-index: 21;
    background-image: url("../../../public/red_spots2.png");
    mix-blend-mode: hard-light;
    background-position: left top;
    background-repeat: no-repeat;
    transform: rotate(-180deg);
  }

  //& .smoke9{
  //  position: absolute;
  //  width: 1900px;
  //  height: 844px;
  //  left: -50px;
  //  top: -400px;
  //  background-image: url("../../../public/smoke.png");
  //  mix-blend-mode: hard-light;
  //  opacity: 0.2;
  //  background-position: 0 0;
  //  background-repeat: no-repeat;
  //  background-size: auto 100%;
  //  z-index: 21;
  //}

  & .content {
    width: 100%;
    height: 100%;
    max-width: 1410px;
    margin: 0 auto;
    padding-top: 70px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: block;
    position: relative;
    z-index: 22;

    & h5 {
      width: 100%;

      @include fonts(400, 13px, 17px, $accent);
      letter-spacing: 3px;
      text-transform: uppercase;
    }

    & .title {
      margin-top: 44px;
      @include display-flex(flex-start, flex-start);

      & .left {
        & div {
          @include fonts(500, 76px, 69px, $accent);
          letter-spacing: 2.77721px;
          text-transform: uppercase;
          display: block;
        }

        & div:last-child {
          color: $midday_sun;
        }
      }

      //& .right{
      //  @include display-flex;
      //  flex-direction: column;
      //
      //  & div{
      //    margin-top: 24px;
      //    @include fonts(400, 26px, 30px, white);
      //    cursor: pointer;
      //    transition: all .5s  ease-in-out;
      //
      //    &:hover{
      //      color: $hot_pink;
      //    }
      //  }
      //
      //  & div:last-child{
      //    margin-top: 50px;
      //    @include display-flex;
      //
      //    & svg{
      //      color: $hot_pink;
      //      margin: 4px 0 0 7px;
      //      width: 27px;
      //    }
      //  }
      //}
    }

    & .slider {
      margin-top: 48px;
      @include display-flex(center, flex-start);
      //gap: calc((100% - 1000px)/2);
      gap: 5%;
      position: relative;
      z-index: 20;

      & .card {
        flex: 0 0 30%;
        min-width: 280px;
        height: 456px;
        position: relative;
        z-index: 20;

        & .content_card {
          height: 100%;
          position: relative;

          & span:nth-child(1) {
            height: 100% !important;
          }

          & a {
            width: 46px;
            height: 46px;
            position: absolute !important;
            top: 23px;
            right: 32px;
            z-index: 21;
            cursor: pointer;
          }

          & .name {
            position: absolute;
            width: 200px;
            top: 367px;
            left: 25px;
            @include fonts(700, 36px, 30px, white);
          }

          & .position {
            position: absolute;
            width: 272px;
            top: 337px;
            left: 25px;
            @include fonts(400, 15px, 20px, white);
            text-transform: uppercase;
          }
        }

        & .empty_card {
          height: 100%;
          position: relative;
          z-index: 20;
          background: black;
          padding: 23px 26px;
          background-blend-mode: darken;
          filter: drop-shadow(0px 4px 100px rgba(0, 0, 0, 0.2));
          @include display-flex(flex-start, flex-end);

          & div {
            @include fonts(400, 15px, 20px, white);
            text-transform: uppercase;
          }
        }
      }
    }

    & .slider_control {
      margin-top: 102px;
      @include display-flex(space-between);
      position: relative;
      z-index: 22;

      & .buttons {
        @include display-flex;
        width: 12%;

        & button {
          width: 85px;
          height: 85px;
          border: 1px solid $hot_pink;
          background: transparent;
          @include display-flex;
          cursor: pointer;

          & svg {
            color: #868297;
            width: 45px;
            height: 45px;

            &:hover {
              color: white;
            }
          }
        }
      }

      & .input_line {
        width: 81%;

        & .range {
          -webkit-appearance: none; /* Override default CSS styles */
          appearance: none;
          width: 100%;
          height: 1px;
          background: #868297;
          outline: none;
          -webkit-transition: 0.5s;
          transition: all 0.5s ease-in-out;
        }

        & .range:hover {
          background: white;
        }

        & .range::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 254px;
          height: 12px;
          background: #2c326f;
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.25);
          cursor: pointer;
          transition: all 0.5s ease-in-out;
        }

        & .range::-moz-range-thumb {
          width: 254px;
          height: 12px;
          background: #2c326f;
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.25);
          cursor: pointer;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    height: auto;
    padding: 0 30px;
    z-index: 20;
    & .smoke9 {
      display: none;
    }

    & .red_spots2 {
      display: none;
    }

    & .content {
      width: 100%;
      height: 100%;
      max-width: 1410px;
      margin: 0 auto;
      padding-top: 106px;
      border-top: none;

      & h5 {
        margin-left: 29px;
        width: 100%;
        @include fonts(400, 12px, 17px, $accent);
      }

      & .title {
        margin-top: 0;
        @include display-flex(flex-start, flex-start);
        flex-direction: column;
        gap: 29px;

        & .left {
          & div {
            @include fonts(500, 32px, 69px, $accent);
            display: block;
          }

          & div:last-child {
            color: $midday_sun;
            margin-top: -25px;
          }
        }

        & .right {
          width: 100%;
          @include display-flex(flex-start, flex-end);
          flex-direction: column;

          & div {
            margin-top: 0;
            @include fonts(400, 20px, 30px, white);
          }

          & div:last-child {
            margin-top: 10px;
            @include display-flex;
            cursor: pointer;

            & svg {
              color: $hot_pink;
              margin: 3px 0 0 7px;
              width: 22px;
            }
          }
        }
      }

      & .slider {
        margin-top: 30px;
        @include display-flex;
        position: relative;
        z-index: 20;

        & .card {
          width: 312px;
          height: 456px;
          position: relative;
          z-index: 20;

          & span:nth-child(2) {
            position: absolute !important;
            //width: 46px;
            //height: 46px;
            top: 23px;
            right: 32px;
            z-index: 21;
            cursor: pointer;
          }

          & .name {
            position: absolute;
            width: 272px;
            top: 322px;
            left: 20px;
            @include fonts(700, 36px, 30px, white);
          }

          & .position {
            position: absolute;
            width: 272px;
            top: 401px;
            left: 20px;
            @include fonts(400, 15px, 20px, white);
          }
        }
      }

      & .slider_control {
        margin-top: 26px;
        @include display-flex(space-between);
        position: relative;
        z-index: 22;
        //gap: 20px;

        & .buttons {
          @include display-flex;
          width: 27%;

          & button {
            width: 43px;
            height: 43px;
            border: 1px solid $hot_pink;
            background: transparent;
            @include display-flex;
            cursor: pointer;

            & svg {
              color: #868297;
              width: 22px;
              height: 45px;

              &:hover {
                color: white;
              }
            }
          }
        }

        & .input_line {
          width: 67%;
          @include display-flex;

          & .range::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 43px;
            height: 5px;
            background: #2c326f;
            box-shadow: 0 0 13px rgba(0, 0, 0, 0.25);
            transition: all 0.5s ease-in-out;
          }

          & .range::-moz-range-thumb {
            width: 45px;
            height: 5px;
            background: #2c326f;
            box-shadow: 0 0 13px rgba(0, 0, 0, 0.25);
            cursor: pointer;
          }
        }
      }
    }
  }
}
