
$carbon: #333333;
$jazzy_jade: #51c9c2;
$ambrosia_cake: #eee9cf;

$fresh_guacamole: #fff4ea;

$hot_pink: #FE3F8E;
$background-color: #0A1157;
$light-background: #2C326F;
$midday_sun: #FFDE59;
$accent: #EAE5D0;
$diamond_dust: #A3B1D0;
